In [1]:
import pandas as pd

In [2]:
attendance_df = pd.read_csv("2024-02-28T1618_Grades-bus_401_120241_232828.csv")

In [3]:
attendance_df

,Student,ID,SIS User ID,SIS Login ID,Section
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,"Abulikemu, Ekrem",321182.0,aa89,aa89,BUS 401 B Spring 2024 CRN70160 and Tariro's Gr...
3,"Adler, Claire",25879.0,cadler2,cadler2,BUS 401 B Spring 2024 CRN70160 and Tariro's Gr...
4,"Aguaiza, Jason",13000.0,aguaiza2,aguaiza2,Arka's Growth Groups and BUS 401 A Spring 2024...
...,...,...,...,...,...
367,"Zhang, Shirley",123264.0,shiyuz4,shiyuz4,BUS 401 B Spring 2024 CRN70160 and Stephanie's...
368,"Zhao, Emily",39562.0,ezhao21,ezhao21,BUS 401 A Spring 2024 CRN70161 and Elizabeth's...
369,"Zhao, Tyler",100848.0,tianyu8,tianyu8,BUS 401 B Spring 2024 CRN70160 and Stephanie's...
370,"Zhou, Candice",124901.0,xuanz9,xuanz9,BUS 401 B Spring 2024 CRN70160
371,"Zhu, Weihao",124414.0,weihaoz2,weihaoz2,BUS 401 B Spring 2024 CRN70160 and Dhruv's Gro...

In [4]:
def extract_id(df):

    regex_pattern = r'([^@]+)@'
    
    # Extract usernames and create a new column
    df['Username'] = df["User Email"].str.extract(regex_pattern)
    
    return df

In [5]:
def calculate_attendance(attd_df, df, date):
    for i in range(0,len(attd_df)):
        for j in range(0,len(df)):
            if attd_df.loc[i,"SIS User ID"] == df.loc[j, "Username"] and df.loc[j, "Total Duration (Minutes)"]> 28:
                attd_df.loc[i, date] = 1
                break
            else:
                attd_df.loc[i, date] = 0
    return attd_df

# Jan 24th

In [6]:
jan_24_A_df = pd.read_csv("Attendance - BUS 401 Section A - 24-Jan-24.csv")
jan_24_B_df = pd.read_csv("Attendance - BUS 401 Section B - 24-Jan-24.csv")

In [7]:
jan_24_df = pd.concat([jan_24_A_df, jan_24_B_df], ignore_index=True)

In [8]:
jan_24_df = extract_id(jan_24_df)

In [9]:
attendance_df = calculate_attendance(attendance_df, jan_24_df, "01/24/2024")

In [10]:
attendance_df

,Student,ID,SIS User ID,SIS Login ID,Section,01/24/2024
0,NaN,NaN,NaN,NaN,NaN,0.0
1,NaN,NaN,NaN,NaN,NaN,0.0
2,"Abulikemu, Ekrem",321182.0,aa89,aa89,BUS 401 B Spring 2024 CRN70160 and Tariro's Gr...,1.0
3,"Adler, Claire",25879.0,cadler2,cadler2,BUS 401 B Spring 2024 CRN70160 and Tariro's Gr...,1.0
4,"Aguaiza, Jason",13000.0,aguaiza2,aguaiza2,Arka's Growth Groups and BUS 401 A Spring 2024...,1.0
...,...,...,...,...,...,...
367,"Zhang, Shirley",123264.0,shiyuz4,shiyuz4,BUS 401 B Spring 2024 CRN70160 and Stephanie's...,1.0
368,"Zhao, Emily",39562.0,ezhao21,ezhao21,BUS 401 A Spring 2024 CRN70161 and Elizabeth's...,1.0
369,"Zhao, Tyler",100848.0,tianyu8,tianyu8,BUS 401 B Spring 2024 CRN70160 and Stephanie's...,0.0
370,"Zhou, Candice",124901.0,xuanz9,xuanz9,BUS 401 B Spring 2024 CRN70160,1.0
371,"Zhu, Weihao",124414.0,weihaoz2,weihaoz2,BUS 401 B Spring 2024 CRN70160 and Dhruv's Gro...,1.0

# Jan 31st

In [11]:
jan_31_A_df = pd.read_csv("Attendance - BUS 401 Section A - 31-Jan-24.csv")
jan_31_B_df = pd.read_csv("Attendance - BUS 401 Section B - 31-Jan-24.csv")

In [12]:
jan_31_df = pd.concat([jan_31_A_df, jan_31_B_df], ignore_index=True)

In [13]:
jan_31_df = extract_id(jan_31_df)

In [14]:
attendance_df = calculate_attendance(attendance_df, jan_31_df, "01/31/2024")

## Feb 7th

In [15]:
feb_7_A_df = pd.read_csv("Attandance - BUS 401 Section A - 7-Feb-24.csv")
feb_7_B_df = pd.read_csv("Attandance - BUS 401 Section B - 7-Feb-24.csv")

In [16]:
feb_7_df = pd.concat([feb_7_A_df, feb_7_B_df], ignore_index=True)

In [17]:
feb_7_df = extract_id(feb_7_df)

In [18]:
attendance_df = calculate_attendance(attendance_df, feb_7_df, "02/7/2024")

## Feb 14th

In [19]:
feb_14_df = pd.read_csv("Attendance - BUS 401 Section A&B - 14-Feb-24.csv")

In [20]:
feb_14_df = extract_id(feb_14_df)

In [21]:
attendance_df = calculate_attendance(attendance_df, feb_14_df, "02/14/2024")

## Feb 28th

In [22]:
feb_28_df = pd.read_csv("Attendance - BUS 401 Section A&B - 28-Feb-24.csv")

In [23]:
feb_28_df = extract_id(feb_28_df)

In [24]:
attendance_df = calculate_attendance(attendance_df, feb_28_df, "02/28/2024")

## March 6th

In [25]:
mar_6_df= pd.read_csv("Attendance - BUS 401 Section A&B - 6-Mar-24.csv")

In [26]:
mar_6_df = extract_id(mar_6_df)

In [27]:
attendance_df = calculate_attendance(attendance_df, mar_6_df, "03/6/2024")

# -----------------------------------------------------Spring Break--------------------------------------------------------

## March 20th

In [28]:
mar_20_df = pd.read_csv("Attendance - BUS 401 Section A&B - 20-Mar-24.csv")

In [29]:
mar_20_df = extract_id(mar_20_df)

In [30]:
attendance_df = calculate_attendance(attendance_df, mar_20_df, "03/20/2024")

## March 27th

In [31]:
mar_27_df = pd.read_csv("Attendance - BUS 401 Section A&B - 27-Mar-24.csv")

In [32]:
mar_27_df = extract_id(mar_27_df)

In [33]:
attendance_df = calculate_attendance(attendance_df, mar_27_df, "03/27/2024")

# April 3rd

In [34]:
apr_3_df = pd.read_excel("Attendance - BUS 401 Section A&B - 3-Apr-24.xlsx")

In [35]:
char = "@illinois.edu"
apr_3_df = apr_3_df.assign(User_Email = lambda x: (x["What is your NetID?\n"].str.replace(char, '')))

In [43]:
apr_3_df.rename(columns = {'User Email':'Username'}, inplace = True)

In [46]:
apr_3_df["Username"] = apr_3_df["Username"].str.lower()

In [47]:
for i in range(0,len(attendance_df)):
    for j in range(0,len(apr_3_df)):
        if attendance_df.loc[i,"SIS User ID"] == apr_3_df.loc[j, "Username"]:
            attendance_df.loc[i,"4/3/2024"] = 1
            break
        else:
            attendance_df.loc[i,"4/3/2024"] = 0

# April 10

In [50]:
apr_10_df= pd.read_csv("Attendance - BUS 401 Section A&B - 10-Apr-24.csv")

In [51]:
apr_10_df = extract_id(apr_10_df)

In [52]:
attendance_df = calculate_attendance(attendance_df, apr_10_df, "04/10/2024")

# April 16th

In [53]:
apr_16_df = pd.read_csv("Attendance - BUS 401 Sections A&B - 16-Apr-24.csv")

In [54]:
apr_16_df = extract_id(apr_16_df)

In [55]:
attendance_df = calculate_attendance(attendance_df, apr_16_df, "04/16/2024")

## April 24th

In [57]:
apr_24_df = pd.read_csv("Attendance - BUS 401 Sections A&B - 24-Apr-24.csv")

In [58]:
apr_24_df = extract_id(apr_24_df)

In [59]:
attendance_df = calculate_attendance(attendance_df, apr_24_df, "04/24/2024")

## Convert Dataframe to CSV

In [60]:
csv_filename = 'BUS_401_wed_attendance.csv'
attendance_df.to_csv(csv_filename, index=False)